@import "tailwindcss";


@font-face {
  font-family: Fredoka;
  src: url("./assets//fonts/Fredoka-Medium.ttf");
}

@layer utilities {
  .m-container {
    @apply w-full md:w-3/4 justify-center items-center mx-auto;
  }
}

body {
  font-family: Fredoka;
}
